@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter:wght@200&family=Open+Sans&family=Orbitron:wght@400;900&family=Poppins:wght@300&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4285f4;
    font-family: 'Poppins', sans-serif;
    max-width: 1400px;
    margin: auto;

}
.wrapper{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 15px;
    
}
@media only screen and (max-width: 515px) {
   .wrapper{
    width: 480px;
    margin: 0px 20px;
   }

  }
header h1{
    font-size: 27px;
    font-weight: 500;
}
header p{
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
form{
    margin: 20px 0 27px;
}
form input {
    width: 100%;
    height: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 19px;
    padding: 0 17px;
}

form button{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #4285f4;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    opacity: 0.7;
    pointer-events: none;
}
form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

.preview-img{
    display: none;
    margin-top: 30px;
    justify-content: center;
  }
  form input:valid ~ .preview-img{
    display: flex;
  }
  .preview-img img{
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
  }